@charset "UTF-8";
@import url("../js/library/fontawesome/css/all.css");
@import url("../js/library/fontawesome/fontawesome/fontawesome.css");
@import url("../js/library/aos/aos.css");
@import url("../js/library/swiper/swiper-bundle.min.css");
@import url("../js/library/themify-icons/themify-icons.css");
@import url("../js/library/select2/select2.min.css");
@import url("../js/library/themifi/themify-icons.css");
@import url("../js/library/gallery/lightgallery.min.css");
@import url("../js/library/fancybox/fancybox.css");
@import url("../assets/font/Themify/stylesheet.css");
@import url("../assets/font/Roboto/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mona-content strong,
.mona-content b {
  font-weight: bold;
}
.mona-content em,
.mona-content i {
  font-style: italic;
}
.mona-content h1,
.mona-content h2,
.mona-content h3,
.mona-content h4,
.mona-content h5,
.mona-content h6 {
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}
.mona-content h1 {
  font-size: 1.7em;
}
.mona-content h2 {
  font-size: 1.6em;
}
.mona-content h3 {
  font-size: 1.25em;
}
.mona-content h4 {
  font-size: 1.125em;
}
.mona-content h5 {
  font-size: 1em;
}
.mona-content h6 {
  font-size: 0.85em;
}
.mona-content p {
  margin: 1em 0;
}
.mona-content ul,
.mona-content ol {
  margin: 1em 0;
  list-style-position: inside;
}
.mona-content ul ul,
.mona-content ul ol,
.mona-content ol ul,
.mona-content ol ol {
  margin-left: 1em;
}
.mona-content ul {
  list-style-type: disc;
}
.mona-content ol {
  list-style-type: decimal;
}
.mona-content ul ul,
.mona-content ol ul {
  list-style-type: circle;
}
.mona-content ol ol,
.mona-content ul ol {
  list-style-type: lower-latin;
}
.mona-content img,
.mona-content iframe {
  max-width: 100% !important;
  height: auto;
}
.mona-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1em 0;
  padding: 1em;
  quotes: "“" "”" "‘" "’";
}
.mona-content blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.mona-content blockquote p {
  display: inline;
}
.mona-content table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 1em 0;
  border: 1px solid #e1e1e1;
}
.mona-content table th,
.mona-content table td {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 5px 10px;
  vertical-align: middle;
}
.mona-content .mona-youtube-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
.mona-content .mona-youtube-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mona-content .mona-table-wrap {
  overflow: auto;
}

:root {
  --size-hd: 10rem;
  font-family: "Inter", "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Inter", "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #000000;
  overflow: hidden auto;
}
@media screen and (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  appearance: none;
}

.container {
  width: 100%;
  max-width: 123rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.t-up {
  text-transform: uppercase;
}

.tabBtn {
  cursor: pointer;
}

.gItem {
  cursor: pointer;
}

.global-title {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.row {
  --col-gap: 2.4rem;
  --row-gap: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--col-gap) / 2 * -1);
  margin-bottom: calc(var(--row-gap) * -1);
}

.col {
  width: 100%;
  padding: 0 calc(var(--col-gap) / 2);
  margin-bottom: var(--row-gap);
}
.col-11 {
  width: 91.6666666667%;
}
.col-10 {
  width: 83.3333333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.6666666667%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.6666666667%;
}
.col-4 {
  width: 33.3333333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-1 {
  width: 8.3333333333%;
}

.header {
  text-align: center;
  background-color: red;
}

.footer {
  text-align: center;
  background-color: green;
}

.document {
  padding: 5rem 0;
}
.document .container {
  max-width: 117.8rem;
}
.document .document__header {
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.document .document__details {
  --col-gap: 0.8rem;
  --row-gap: 0.8rem;
}
.document .document__details .document__item {
  padding: 0 calc(var(--col-gap) / 2);
  margin-bottom: var(--row-gap);
}
.document .document__details .document__item .document__item__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
}
.document .document__details .document__item .document__item__content:hover .document__img .document__img__desc {
  opacity: 1;
  cursor: pointer;
}
.document .document__details .document__item .document__item__content:hover .document__title .document__sub__title {
  color: rgb(135, 1, 202);
}
.document .document__details .document__item .document__item__content .document__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77.6595744681%;
  flex-shrink: 0;
}
.document .document__details .document__item .document__item__content .document__img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.2rem;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  height: 100%;
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left {
  border-bottom: 2px dotted white;
  padding-bottom: 1.1rem;
  position: relative;
  transition: all 0.5s;
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left::before {
  content: "";
  width: 0.1rem;
  height: 2.1rem;
  background-color: white;
  position: absolute;
  top: 7%;
  right: -35%;
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left:hover {
  color: rgb(249, 184, 64);
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right {
  padding-bottom: 1.1rem;
  transition: all 0.5s;
}
.document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right:hover {
  color: rgb(249, 184, 64);
}
.document .document__details .document__item .document__item__content .document__title {
  text-align: left;
  padding: 1.4rem;
  background-color: rgb(243, 243, 243);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.document .document__details .document__item .document__item__content .document__title .document__sub__title {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(49, 49, 49);
  transition: all 0.5s;
}
.document .document__details .document__item .document__item__content .document__title .document__title__rating {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.document .document__details .document__item .document__item__content .document__title .document__title__rating .document__title__rating__left {
  color: rgb(89, 89, 89);
  font-size: 1.4rem;
}
.document .document__details .document__item .document__item__content .document__title .document__title__rating .document__title__rating__left .fa-eye {
  color: rgb(0, 0, 0);
  margin-right: 0.1rem;
}
.document .document__details .document__item .document__item__content .document__title .document__title__rating .document__title__rating__right {
  color: rgb(49, 49, 49);
  font-size: 1.4rem;
}
.document .document__details .document__item .document__item__content .document__title .document__title__rating .document__title__rating__right .fa-star {
  color: rgb(249, 184, 64);
}
.document .document__details .col-3 {
  width: 25%;
}

.exam {
  padding: 5rem 0;
}
.exam .container {
  max-width: 158rem;
}
.exam .exam__header {
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.exam .exam__details {
  --col-gap: 0.8rem;
  --row-gap: 0.6rem;
}
.exam .exam__details .exam__item {
  padding: 0 calc(var(--col-gap) / 2);
  margin-bottom: var(--row-gap);
}
.exam .exam__details .exam__item .exam__item__content {
  border-radius: 0.8rem;
  background-color: rgba(136, 136, 136, 0.2);
  padding: 1.7rem;
  display: flex;
  justify-content: space-between;
  gap: calc(var(--row-gap));
  transition: all 0.5s;
}
.exam .exam__details .exam__item .exam__item__content:hover {
  background-color: rgb(135, 1, 202);
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__left .exam__left__title {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__right__header {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__info {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__infomation .infomation__details__item .information__item {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__infomation .infomation__details__item .information__item .fa-solid {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__hastag {
  color: white;
}
.exam .exam__details .exam__item .exam__item__content:hover .exam__right .exam__hastag .exam__hastag__item .exam__hastag__title {
  background-color: rgb(252, 163, 69);
}
.exam .exam__details .exam__item .exam__left .exam__left__img img {
  border-radius: 1rem;
  width: 100%;
}
.exam .exam__details .exam__item .exam__left .exam__left__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}
.exam .exam__details .exam__item .exam__right .exam__right__header {
  font-size: 1.4rem;
  display: flex;
  transition: all 0.5s;
}
.exam .exam__details .exam__item .exam__right .exam__right__header span {
  font-weight: 600;
}
.exam .exam__details .exam__item .exam__right .exam__info {
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.5s;
}
.exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item {
  margin-bottom: 1rem;
  padding: 0 calc(var(--col-gap) / 2);
}
.exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item .information__item {
  transition: all 0.5s;
  color: rgb(49, 49, 49);
}
.exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item .information__item .fa-solid {
  transition: all 0.5s;
  color: rgb(135, 1, 202);
}
.exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .cols {
  width: 50%;
}
.exam .exam__details .exam__item .exam__right .exam__infomation .row {
  --col-gap: 0.8rem;
  --row-gap: 0.6rem;
}
.exam .exam__details .exam__item .exam__right .exam__hastag {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: rgb(136, 136, 136);
  gap: 1.2rem;
  margin-top: 1.2rem;
  transition: all 0.5s;
  font-family: "Inter", sans-serif;
}
.exam .exam__details .exam__item .exam__right .exam__hastag .exam__hastag__item .exam__hastag__title {
  border-radius: 1.2rem;
  background-color: rgb(236, 236, 236);
  padding: 0.6rem 1rem;
  text-align: center;
}

.news {
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.news .container {
  max-width: 122.6rem;
}
.news .news__header {
  text-align: left;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.news .news__wrap {
  --col-gap: 2.4rem;
  --row-gap: 0.6rem;
}
.news .news__left {
  padding: 0 calc(var(--col-gap) / 1.5);
}
.news .news__left .news__left__content {
  --col-gap: 2.4rem;
}
.news .news__left .new__left__item {
  padding: 0 calc(var(--col-gap) / 2);
}
.news .news__left .new__left__item .news__left__item__content .news__time {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.news .news__left .new__left__item .news__left__item__content .news__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  transition: all 0.5s;
}
.news .news__left .new__left__item .news__left__item__content .news__title:hover {
  color: rgb(252, 163, 69);
}
.news .news__left .new__left__item .news__left__item__content .news__desc {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.news .news__left .col-6 {
  width: 50%;
}
.news .news__right {
  flex-shrink: 0;
  padding: 0 calc(var(--col-gap) / 2);
}
.news .news__right .news__right__content .news__right__item {
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}
.news .news__right .news__right__content .news__right__item .item__time {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.news .news__right .news__right__content .news__right__item .item__infor {
  display: flex;
  justify-content: space-between;
  gap: 7.8rem;
}
.news .news__right .news__right__content .news__right__item .item__infor:hover {
  color: rgb(252, 163, 69);
}
.news .news__right .news__right__content .news__right__item .item__infor:hover .item__infor__icon .fa-arrow-right {
  animation: leftToRight 1s linear infinite;
}
.news .news__right .news__right__content .news__right__item .item__infor .item__infor__title {
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.5s;
}
.news .col-8 {
  width: 66.6666666667%;
}
.news .col-4 {
  width: 33.3333333333%;
}

@keyframes leftToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .document .document__details .col-3 {
    width: 33.3333333333%;
  }
  .document .document__details .document__item .document__item__content .document__title .document__title__rating {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 586px) and (max-width: 767.9px) {
  .document .document__details .col-3 {
    width: 50%;
  }
  .document .document__details .document__item .document__item__content:hover .document__img .document__img__desc {
    cursor: auto;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc {
    opacity: 1;
    top: 113%;
    background-color: transparent;
    color: white;
    height: 0;
    padding: 0;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left {
    border-bottom: none;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left:hover {
    color: white;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left:hover .btn__document__left {
    background-color: rgb(252, 163, 69);
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left::before {
    display: none;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left .btn__document__left {
    padding: 1rem 1.5rem;
    background-color: rgb(135, 1, 202);
    border-radius: 1.2rem;
    transition: all 0.5s;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right:hover {
    color: white;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right:hover .btn__document__right {
    background-color: rgb(252, 163, 69);
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right .btn__document__right {
    padding: 1rem 1.5rem;
    background-color: rgb(135, 1, 202);
    border-radius: 1.2rem;
    transition: all 0.5s;
  }
  .document .document__details .document__item .document__item__content .document__title {
    margin-top: 6rem;
  }
  .document .document__details .document__item .document__item__content .document__title .document__title__rating {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 587.9px) {
  .document .document__details .col-3 {
    width: 100%;
  }
  .document .document__details .document__item .document__item__content:hover .document__img .document__img__desc {
    cursor: auto;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc {
    opacity: 1;
    top: 113%;
    background-color: transparent;
    color: white;
    height: 0;
    padding: 0;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left {
    border-bottom: none;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left::before {
    display: none;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left:hover {
    color: white;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left:hover .btn__document__left {
    background-color: rgb(252, 163, 69);
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__left .btn__document__left {
    padding: 1rem 1.5rem;
    background-color: rgb(135, 1, 202);
    border-radius: 1.2rem;
    transition: all 0.5s;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right:hover {
    color: white;
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right:hover .btn__document__right {
    background-color: rgb(252, 163, 69);
  }
  .document .document__details .document__item .document__item__content .document__img .document__img__desc .document__img__desc__right .btn__document__right {
    padding: 1rem 1.5rem;
    background-color: rgb(135, 1, 202);
    border-radius: 1.2rem;
    transition: all 0.5s;
  }
  .document .document__details .document__item .document__item__content .document__title {
    margin-top: 8rem;
  }
  .document .document__details .document__item .document__item__content .document__title .document__title__rating {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1365px) and (max-width: 1536px) {
  .exam .exam__details .exam__item .exam__item__content {
    padding: 0.3rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__left .exam__left__title {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__info {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 952px) and (max-width: 1364.9px) {
  .exam .exam__details .col-3 {
    width: 33.3333333333%;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__left .exam__left__title {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__right__header {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__info {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__infomation {
    margin-bottom: calc(var(--row-gap) + 0.2rem);
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__infomation .infomation__details .infomation__details__item .information__item {
    font-size: 1.3rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__hastag {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    align-items: center;
    justify-content: flex-start;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__hastag .exam__hastag__item .exam__hastag__title {
    padding: 0.6rem;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 951.9px) {
  .exam .exam__details .col-3 {
    width: 50%;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__infomation {
    margin-top: 1.5rem;
  }
  .exam .exam__details .exam__item .exam__item__content .exam__right .exam__hastag {
    justify-content: space-around;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 767.1px) {
  .exam .exam__details .col-3 {
    width: 100%;
  }
  .exam .exam__details .exam__item .exam__item__content {
    justify-content: space-around;
  }
  .exam .exam__details .exam__item .exam__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation {
    margin-top: 2rem;
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item {
    padding: 0 calc(var(--col-gap));
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item .information__item {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 499.9px) {
  .exam .exam__header {
    font-size: 2.2rem;
  }
  .exam .exam__details {
    font-size: 1.2rem;
  }
  .exam .exam__details .col-3 {
    width: 100%;
  }
  .exam .exam__details .exam__item .exam__item__content {
    justify-content: space-around;
  }
  .exam .exam__details .exam__item .exam__left .exam__left__title {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .exam .exam__details .exam__item .exam__right .exam__right__header {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__right .exam__info {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details {
    font-size: 1.2rem;
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item {
    padding: 0 calc(var(--col-gap));
  }
  .exam .exam__details .exam__item .exam__right .exam__infomation .infomation__details .infomation__details__item .information__item {
    text-align: center;
  }
  .exam .exam__details .exam__item .exam__right .exam__hastag {
    align-items: center;
  }
}

@media screen and (min-width: 914px) and (max-width: 1147.9px) {
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor {
    gap: 0;
  }
}
@media screen and (min-width: 866px) and (max-width: 913.9px) {
  .news .news__wrap .news__right .news__right__content .news__right__item {
    margin-bottom: 1.5rem;
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor {
    gap: 0;
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor .item__infor__title {
    font-size: 1.5rem;
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor .item__infor__icon {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 865.9px) {
  .news .news__wrap .news__left {
    margin-bottom: calc(var(--row-gap) * 10);
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor {
    gap: 0;
  }
  .news .news__wrap .col-8 {
    width: 100%;
  }
  .news .news__wrap .col-4 {
    width: 100%;
  }
}
@media screen and (max-width: 766.9px) {
  .news .news__wrap .news__left {
    margin-bottom: calc(var(--row-gap) * 10);
  }
  .news .news__wrap .news__left .news__left__content .new__left__item {
    margin-bottom: calc(var(--row-gap) * 2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: calc(var(--col-gap) / 2);
    border-radius: 1.2rem;
  }
  .news .news__wrap .news__left .news__left__content .col-6 {
    width: 100%;
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor {
    gap: 0;
  }
  .news .news__wrap .col-8 {
    width: 100%;
  }
  .news .news__wrap .col-4 {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 524.9px) {
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor {
    gap: 0;
  }
  .news .news__wrap .news__right .news__right__content .news__right__item .item__infor .item__infor__icon {
    display: none;
  }
  .news .news__wrap .col-8 {
    width: 100%;
  }
  .news .news__wrap .col-4 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */