.document {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .document__details {
      .col-3 {
        width: calc(4 / 12 * 100%);
      }
      .document__item {
        .document__item__content {
          .document__img {
            .document__img__desc {
              // top: 50%;
              // // padding: calc(var(--col-gap) * 15.5) 0;
              // padding: calc(34%) 0;
            }
          }
          .document__title {
            .document__title__rating {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 586px) and (max-width: 767.9px) {
    .document__details {
      .col-3 {
        width: calc(6 / 12 * 100%);
      }
      .document__item {
        .document__item__content {
          &:hover {
            .document__img {
              .document__img__desc {
                cursor: auto;
              }
            }
          }

          .document__img {
            .document__img__desc {
              opacity: 1;
              top: 113%;
              background-color: transparent;
              color: white;
              height: 0;
              .document__img__desc__left {
                border-bottom: 0;
                &:hover {
                  .btn__document__left {
                    background-color: rgb(252, 163, 69);
                  }
                }
                .btn__document__left {
                  padding: 1rem 1.5rem;
                  background-color: rgba(135, 1, 202, 1);
                  border-radius: 1.2rem;
                  transition: all 0.5s;
                }
              }
              .document__img__desc__right {
                &:hover {
                  .btn__document__right {
                    background-color: rgb(252, 163, 69);
                  }
                }
                .btn__document__right {
                  padding: 1rem 1.5rem;
                  background-color: rgba(135, 1, 202, 1);
                  border-radius: 1.2rem;
                  transition: all 0.5s;
                }
              }
              padding: 0;
            }
          }
          .document__title {
            margin-top: 6rem;
            .document__title__rating {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 587.9px) {
    .document__details {
      .col-3 {
        width: calc(12 / 12 * 100%);
      }
      .document__item {
        .document__item__content {
          &:hover {
            .document__img {
              .document__img__desc {
                cursor: auto;
              }
            }
          }

          .document__img {
            .document__img__desc {
              opacity: 1;
              top: 113%;
              background-color: transparent;
              color: white;
              height: 0;
              .document__img__desc__left {
                border-bottom: 0;
                &:hover {
                  .btn__document__left {
                    background-color: rgb(252, 163, 69);
                  }
                }
                .btn__document__left {
                  padding: 1rem 1.5rem;
                  background-color: rgba(135, 1, 202, 1);
                  border-radius: 1.2rem;
                  transition: all 0.5s;
                }
              }
              .document__img__desc__right {
                &:hover {
                  .btn__document__right {
                    background-color: rgb(252, 163, 69);
                  }
                }
                .btn__document__right {
                  padding: 1rem 1.5rem;
                  background-color: rgba(135, 1, 202, 1);
                  border-radius: 1.2rem;
                  transition: all 0.5s;
                }
              }
              padding: 0;
            }
          }
          .document__title {
            margin-top: 8rem;
            .document__title__rating {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.exam {
  @media screen and (min-width: 1365px) and (max-width: 1536px) {
    .exam__details {
      .exam__item {
        .exam__item__content {
          padding: 0.3rem;
          .exam__left {
            .exam__left__title {
              font-size: 1.2rem;
            }
          }
          .exam__right {
            .exam__info {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 952px) and (max-width: 1364.9px) {
    .exam__details {
      .col-3 {
        width: calc(4 / 12 * 100%);
      }
      .exam__item {
        .exam__item__content {
          .exam__left {
            .exam__left__title {
              font-size: 1.2rem;
            }
          }
          .exam__right {
            .exam__right__header {
              font-size: 1.2rem;
            }
            .exam__info {
              font-size: 1.2rem;
            }
            .exam__infomation {
              margin-bottom: calc((var(--row-gap) + 0.2rem));
              .infomation__details {
                .infomation__details__item {
                  .information__item {
                    font-size: 1.3rem;
                  }
                }
              }
            }
            .exam__hastag {
              font-size: 1.2rem;
              margin-top: 1.2rem;
              align-items: center;
              justify-content: flex-start;
              .exam__hastag__item {
                .exam__hastag__title {
                  padding: 0.6rem;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 951.9px) {
    .exam__details {
      .col-3 {
        width: calc(6 / 12 * 100%);
      }
      .exam__item {
        .exam__item__content {
          .exam__right {
            .exam__infomation {
              // margin-bottom: 5rem;
              margin-top: 1.5rem;
            }
            .exam__hastag {
              justify-content: space-around;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 500px) and (max-width: 767.1px) {
    .exam__details {
      .col-3 {
        width: calc(12 / 12 * 100%);
      }
      .exam__item {
        .exam__item__content {
          justify-content: space-around;
        }
        .exam__left {
        }
        .exam__right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .exam__right__header {
          }
          .exam__info {
          }
          .exam__infomation {
            // margin-bottom: 7rem;
            margin-top: 2rem;
            .infomation__details {
              .infomation__details__item {
                padding: 0 calc(var(--col-gap));
                .information__item {
                  text-align: center;
                }
              }
            }
          }
          .exam__hastag {
          }
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 499.9px) {
    .exam__header {
      font-size: 2.2rem;
    }
    .exam__details {
      font-size: 1.2rem;
      .col-3 {
        width: calc(12 / 12 * 100%);
      }
      .exam__item {
        .exam__item__content {
          justify-content: space-around;
        }
        .exam__left {
          .exam__left__title {
            font-size: 1.2rem;
          }
        }
        .exam__right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .exam__right__header {
            font-size: 1.2rem;
          }
          .exam__info {
            font-size: 1.2rem;
          }
          .exam__infomation {
            // margin-bottom: 7rem;
            // margin-top: 2rem;
            .infomation__details {
              font-size: 1.2rem;
              .infomation__details__item {
                padding: 0 calc(var(--col-gap));
                .information__item {
                  text-align: center;
                }
              }
            }
          }
          .exam__hastag {
            align-items: center;
          }
        }
      }
    }
  }
}

.news {
  @media screen and (min-width: 914px) and (max-width: 1147.9px) {
    .news__wrap {
      .news__right {
        .news__right__content {
          .news__right__item {
            .item__infor {
              gap: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 866px) and (max-width: 913.9px) {
    .news__wrap {
      .news__right {
        .news__right__content {
          .news__right__item {
            margin-bottom: 1.5rem;
            .item__infor {
              gap: 0;
              .item__infor__title {
                font-size: 1.5rem;
              }
              .item__infor__icon {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 767px) and (max-width: 865.9px) {
    .news__wrap {
      .news__left {
        margin-bottom: calc(var(--row-gap) * 10);
      }
      .news__right {
        .news__right__content {
          .news__right__item {
            .item__infor {
              gap: 0;
            }
          }
        }
      }
      .col-8 {
        width: calc(12 / 12 * 100%);
      }
      .col-4 {
        width: calc(12 / 12 * 100%);
      }
    }
  }
  @media screen and (max-width: 766.9px) {
    .news__wrap {
      .news__left {
        margin-bottom: calc(var(--row-gap) * 10);
        .news__left__content {
          .new__left__item {
            margin-bottom: calc(var(--row-gap) * 2);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: calc(var(--col-gap) / 2);
            border-radius: 1.2rem;
          }
          .col-6 {
            width: calc(12 / 12 * 100%);
          }
        }
      }
      .news__right {
        .news__right__content {
          .news__right__item {
            .item__infor {
              gap: 0;
            }
          }
        }
      }
      .col-8 {
        width: calc(12 / 12 * 100%);
      }
      .col-4 {
        width: calc(12 / 12 * 100%);
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 524.9px) {
    .news__wrap {
      .news__right {
        .news__right__content {
          .news__right__item {
            .item__infor {
              gap: 0;
              .item__infor__icon {
                display: none;
              }
            }
          }
        }
      }
      .col-8 {
        width: calc(12 / 12 * 100%);
      }
      .col-4 {
        width: calc(12 / 12 * 100%);
      }
    }
  }
}
