.news {
  padding: 5rem 0;
  margin-bottom: 5rem;
  .container {
    max-width: 122.6rem;
  }
  .news__header {
    text-align: left;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }
  .news__wrap {
    --col-gap: 2.4rem;
    --row-gap: 0.6rem;
  }
  .news__left {
    padding: 0 calc(var(--col-gap) / 1.5);
    .news__left__content {
      --col-gap: 2.4rem;
    }
    .new__left__item {
      padding: 0 calc(var(--col-gap) / 2);
      .news__left__item__content {
        .news__time {
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        .news__title {
          font-size: 1.6rem;
          font-weight: 600;
          color: rgba(252, 163, 69, 1);
          margin-bottom: 1.5rem;
        }
        .news__desc {
          font-size: 1.6rem;
          font-weight: 400;
          margin-top: 1.5rem;
        }
      }
    }
    .col-6 {
      width: calc(6 / 12 * 100%);
    }
  }
  .news__right {
    flex-shrink: 0;

    padding: 0 calc(var(--col-gap) / 2);
    .news__right__content {
      .news__right__item {
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid black;

        .item__time {
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        .item__infor {
          display: flex;
          justify-content: space-between;
          gap: 7.8rem;
          .item__infor__title {
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .col-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-4 {
    width: calc(4 / 12 * 100%);
  }
}
